<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
    a {
      color: #EF5455;
      text-decoration: none;
    }
     /* Links */
     a:hover {
         color: #FAD744;
         text-decoration: none;
     }


     /* Header Buttons on Startpage */
     a.btn {
        color: white;
        background-color: #d71e25;
     }
     a.btn:hover {
       background-color: #FAD744;
     }
     a.fn-item {
       text-align: left !important;
     }
     a.fn-item {
       color: #EF5455;
     }
     /* Scroll Menu on Startpage */
     a.fn-item.active {
       color: #FAD744;
     }
     a.fn-item:hover {
       color: #FAD744;
     }

     /* Content / Sections */
     .post-holder.odd {
      background: #d71e25 !important;
      color: white;
     }
     .post-holder {
      background: #201c1d;
      color: white;
     }
     body {
       text-align: center;
          color: #3A4145;
     }

     #site-head {
       height: 75%;
     }

     /* Footer */
     .site-footer {
       display: none;
          color: #BBC7CC;
          background-color: #22343A;
     }

     .logo-image {
       width: 350px !important;
       width: 350px !important;
     }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
