{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
<header id="site-head" {{ with .Params.header_image }}style="background-image: url({{ . }})"{{ end }}>
    <div class="vertical">
        <div id="site-head-content" class="inner">
            <img class="logo-image" src="images/PhoenixNewLogo.png"/>

            {{ with .Params.header_headline }}<h1 class="blog-title">{{ . }}</h1>{{ end }}
            {{ with .Params.header_subheadline }}<h2 class="blog-description">{{ . }}</h2>{{ end }}

            {{ range where $sections ".Params.header_menu" "eq" true }}
                 <a class='btn site-menu' data-title-anchor='{{ anchorize .Title }}'>{{ .Title }}</a>
            {{ end }}
            <i id='header-arrow' class="fa fa-angle-down"></i>
        </div>
    </div>
</header>
<main class="content" role="main">

    <div class='fixed-nav'>
    </div>
    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article id='{{ anchorize .Title }}' class='post {{ if eq $index_val 0 }}first{{ else }}{{ if eq (add $index_val 1) (len $sections) }}last{{ end }}{{ end }}'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>

                {{ if isset .Params "pagevar" }}
                <div style="width: 100%; text-align: center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2355.4858515517426!2d-1.601539!3d53.816432!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1631995355819!5m2!1sen!2sus" width="600" height="450" style="border:0;text-align:center" allowfullscreen="" loading="lazy"></iframe>
                </div>
                {{ end }}
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
